*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1260px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1120px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  background: url(../images/bg-desktop.svg), #674baf;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 375px) {
  body {
    background: url(../images/bg-mobile.svg), #674baf;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.container {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5rem;
  overflow: hidden;
}

@media only screen and (max-width: 750px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
  }
}

.content__img-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content__img-container img {
  width: 100%;
  height: auto;
}

.content__details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 5rem;
  margin-top: 5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 900px) {
  .content__details {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .content__details {
    margin-left: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

.content__description {
  margin: 2rem auto;
}

.footer {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 750px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 750px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 3rem;
  }
}

.footer__item {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:nth-child(2) {
  margin: auto 1.5rem;
}

.footer .attribution {
  font-size: 11px;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 750px) {
  .footer .attribution {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer .attribution a {
  color: #3e52a3;
  background-color: #fff;
  border-radius: 3px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.heading--main {
  font-size: 5rem;
  line-height: 1.3;
}

@media only screen and (max-width: 1120px) {
  .heading--main {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading--main {
    font-size: 3.5rem;
  }
}

.cta {
  font-size: 1.6rem;
  color: #674baf;
  padding: 1rem 4.5rem;
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.3rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);
}

.cta:focus {
  outline: none;
}

.cta:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */