.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  background: url(../images/bg-desktop.svg), $color-primary;
  background-size: cover;
  // background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-sm) {
    background: url(../images/bg-mobile.svg), $color-primary;
    background-repeat: no-repeat;
  }
}

.header {
  border: 1px solid teal;
}

.content {
  // border: 1px solid tomato;

  @include flexCenter;

  &__img-container {
    border: 1px solid skyblue;
  }

  &__details {
    // border: 1px solid plum;
  }

  &__description {
  }
}

.footer {
  border: 1px solid teal;
  font-size: 2rem;

  &__list {
    @include flexCenter;
    justify-content: flex-end;
  }

  &__item {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;

    @include flexCenter;

    &:nth-child(2) {
      margin: auto 1.5rem;
    }
  }

  &__link {
  }
}

// HEADINGS
.heading {
  font-family: $font-heading;
  font-weight: 700;

  &--header {
    font-size: 3rem;
    letter-spacing: 1px;
  }

  &--main {
  }
}

// BUTTON
.cta {
  font-size: 1.6rem;
  // font-family: inherit;
  color: $color-primary;
  padding: 1rem 4.5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.6rem 0.1rem rgba(0, 0, 0, 0.3);

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
    box-shadow: 0 0.2rem 0.3rem 0.1rem rgba(0, 0, 0, 0.2);
  }
}
