// COLOR
$color-primary: hsl(257, 40%, 49%);

// FONT
$font-heading: 'Poppins', sans-serif; // 400, 700
$font-body: 'Open Sans', sans-serif; // 400

// BREAKPOINS
$bp-sm: 375px;
$bp-md-4: 750px;
$bp-md-3: 900px;
$bp-md-2: 1120px;
$bp-md-1: 1260px;
$bp-lg: 1440px;
